<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-title class="ion-text-capitalize"></ion-title>
  <figure class="text-center">
    <img 
      alt="login"
      src="assets/image/login.png"
    />
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    
    <ion-item>
      <ion-input
        type="email"
        label="Email"
        labelPlacement="floating"
        placeholder="Example@gmail.com"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label
          color="danger"
          *ngIf="
            loginForm.get('email')?.hasError(error.type) &&
            loginForm.get('email')?.dirty
          "
        >
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>
  
    
    <ion-item>
      <ion-input
        type="password"
        label="Password"
        labelPlacement="floating"
        placeholder="Enter your password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label
          color="danger"
          *ngIf="
            loginForm.get('password')?.hasError(error.type) &&
            loginForm.get('password')?.dirty
          "
        >
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>
  
    
    <ion-button type="submit" >Login</ion-button>
  </form>
  
  <ion-button  fill="clear" routerLink="/register" style="color: rgb(255, 255, 255);">register</ion-button>
  <p>{{errorMessage}}</p>
</ion-content>
