<ion-content>
  <swiper-container class="swiper-container">
    <!-- Slide 1 -->
    <swiper-slide class="slide slide-1">
      <ion-icon name="restaurant-outline" class="slide-icon"></ion-icon>
      <h2 class="slide-title">Las Mejores Recetas</h2>
      <p class="slide-text">Encuentra platos increíbles para cualquier ocasión.</p>
      <img src="/assets/images/img2.jpg" class="slide-image" />
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide class="slide slide-2">
      <ion-icon name="flash-outline" class="slide-icon"></ion-icon>
      <h2 class="slide-title">Cocina Fácil</h2>
      <p class="slide-text">Simplifica tu tiempo en la cocina con nuestra guía paso a paso.</p>
      <img src="/assets/images/img3.jpg" class="slide-image" />
    </swiper-slide>

    <!-- Slide 3 -->
    <swiper-slide class="slide slide-3">
      <ion-icon name="basket-outline" class="slide-icon"></ion-icon>
      <h2 class="slide-title">Ingredientes al Instante</h2>
      <p class="slide-text">Convierte los ingredientes que tienes en recetas deliciosas.</p>
      <img src="/assets/images/img4.jpg" class="slide-image" />
    </swiper-slide>

    <!-- Slide 4 -->
    <swiper-slide class="slide slide-4">
      <ion-icon
          name="close-outline"
          class="slide-icon-click"
          (click)="finish()"
      ></ion-icon>
      <ion-icon name="list-outline" class="slide-icon"></ion-icon>
      <h2 class="slide-title">Organiza tu Cocina</h2>
      <p class="slide-text">Crea listas de compras inteligentes para tus recetas favoritas.</p>
      <img src="/assets/images/img6.jpg" class="slide-image" />
      <ion-button class="slide-button" (click)="finish()">Ir al Home</ion-button>
  </swiper-slide>
  
  
  </swiper-container>
</ion-content>