<ion-content>
  <swiper-container class="swiper-container">
    <!-- Slide 1 -->
    <swiper-slide class="slideslide-3">
      <ion-icon name="tv-outline" class="slide-icon"></ion-icon>
      <h2 class="slide-title">Mundos Fantásticos</h2>
      <p class="slide-text">Sumérgete en universos extraordinarios llenos de magia y aventuras.</p>
      <img src="/assets/image/Ua.png" class="slide-image" />
      <img src="/assets/image/noches.png" class="slide-image" />
      <img src="/assets/image/name.png" class="slide-image" />
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide class="slideslide-3">
      <ion-icon name="game-controller-outline" class="slide-icon"></ion-icon>
      <h2 class="slide-title">Personajes Épicos</h2>
      <p class="slide-text">Conoce a los héroes y villanos que definen las historias más emocionantes.</p>
      <img src="/assets/image/vili.png" class="slide-image" />
      <img src="/assets/image/hero.png" class="slide-image" />
    </swiper-slide>

    <!-- Slide 3 -->
  <swiper-slide class="slideslide-3">
  <ion-icon name="camera-outline" class="slide-icon"></ion-icon>
  <h2 class="slide-title">Arte y Estilo Visual</h2>
  <p class="slide-text">Admira el arte impresionante que da vida a cada anime.</p>
  
  <img src="/assets/image/zoro.png" class="reduced-image" />
  <img src="/assets/image/ken.png" class="reduced-image" />
  <img src="/assets/image/gojo.png" class="reduced-image" />
  <img src="/assets/image/leona.png" class="reduced-image" />
</swiper-slide>


    <!-- Slide 4 -->
    <swiper-slide class="slideslide-3">
      <ion-icon
          name="close-outline"
          class="slide-icon-click"
          (click)="finish()"
      ></ion-icon>
      <ion-icon name="heart-outline" class="slide-icon"></ion-icon>
      <h2 class="slide-title">Momentos Inolvidables</h2>
      <p class="slide-text">Revive las escenas más emotivas y poderosas que quedarán grabadas en tu memoria.</p>
      <img src="/assets/image/exc.png" class="reduced-image" />
      <img src="/assets/image/boo.png" class="reduced-image" />
      <img src="/assets/image/ero.png" class="reduced-image" />
      
      
      <ion-button class="slide-button" (click)="finish()">Explorar</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
