ion-content {
  --background: linear-gradient(to right, #cc00ff, #3300ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.slide-title {
  font-size: 24px;
  font-weight: bold;
  color: #3300ff;
  margin-top: 10px;
}

.slide-text {
  font-size: 16px;
  color: #000000;
  margin: 10px 0;
}

.slide-icon {
  font-size: 50px;
  color: #cc00ff;
}

.slide-icon-click {
  font-size: 30px;
  color: #ff0000;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.slide-image {
  width: 80%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  margin-top: 15px;
}

.slide-button {
  background-color: #cc00ff;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  border: 2px solid #000000;
}

.slide-button:disabled {
  background-color: #ffe0b2;
  border: 2px solid #000000;
}
.reduced-image {
  width: 50%;          /* Reduce el ancho al 80% del tamaño original */
  height: auto;        /* Mantiene la proporción de la imagen */
  border-radius: 10%;  /* Redondea las esquinas un 10% */
  object-fit: cover;   /* Ajusta la imagen sin distorsionarla */
  margin-top: 15px;    /* Agrega espacio arriba de cada imagen */
}
.swiper-slideslide-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  grid-template-rows: repeat(2, auto);   /* 2 filas */
  gap: 10px; /* Espacio entre imágenes */
  justify-items: center; /* Centrar imágenes en cada celda */
}