<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title id="menu-title">Menu Menu</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeMenu()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item id="home-item" routerLink="/menu/home" routerDirection="root" (click)="closeMenu()">
          <img src="assets/icon/vulbis.png" alt="vulbis" class="custom-icon" />
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item id="profile-item" routerLink="/menu/account" routerDirection="root" (click)="closeMenu()">
          <img src="assets/icon/forja.png" alt="Forja" class="custom-icon" />

          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item id="search-item" routerLink="/menu/search-users" routerDirection="root" (click)="closeMenu()">
          <img src="assets/icon/pesadilla.png" alt="pesadilla" class="custom-icon" />
          <ion-label>Buscar Usuarios</ion-label>
        </ion-item>
        <ion-item id="logout-item" (click)="log_out()">
          <img src="assets/icon/salir.png" alt="salir|" class="custom-icon" />
          <ion-label>Salir</ion-label>
        </ion-item>
      </ion-list>

      <div class="bottom-image">
        <img src="assets/image/Dios.png" alt="Logo" />
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
