<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title id="menu-title">Menu Menu</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="closeMenu()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item id="home-item" routerLink="/menu/home" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item id="profile-item" routerLink="/menu/account" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item id="search-item" routerLink="/menu/search-users" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="search-outline"></ion-icon>
          <ion-label>Buscar Usuarios</ion-label>
        </ion-item>
        <ion-item id="logout-item" (click)="log_out()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
