<ion-header>
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Nuevo Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm.value)">
   
    <div (click)="uploadPhone()">
      <img [src]="post_image ? post_image : '/assets/image/open.png'" />
      <p *ngIf="!post_image">Haz clic para subir una imagen</p>
    </div>

    
    <ion-item>
      <ion-textarea
        label="Descripción del post"
        labelPlacement="floating"
        placeholder="Cuenta lo que estás pensando"
        formControlName="description">
      </ion-textarea>
      <ion-note slot="error" *ngIf="addPostForm.get('description')?.hasError('required')">
        La descripción es obligatoria.
      </ion-note>
      <ion-note slot="error" *ngIf="addPostForm.get('description')?.hasError('minlength')">
        La descripción debe tener al menos 5 caracteres.
      </ion-note>
    </ion-item>

    
    <ion-footer>
      <ion-button
        type="submit"
        [disabled]="!addPostForm.valid"
        expand="full">
        Publicar
      </ion-button>
    </ion-footer>
  </form>
</ion-content>