/* Fondo con degradado morado-azul para el ion-header */
ion-header {
  background: linear-gradient(to right, #cc00ff, #3300ff); /* Degradado morado-azul */
}

/* Fondo con degradado morado-azul para el ion-content */
ion-content {
  --background: linear-gradient(to right, #cc00ff, #3300ff);
}

/* Estilos para el ion-toolbar */
ion-toolbar {
  --background: transparent; /* Fondo transparente para que herede el degradado del ion-header */
  --color: #ffffff; /* Texto blanco */
}

/* Estilos para el ion-title */
ion-title {
  background: linear-gradient(to right, #ffffff, #000000); /* Degradado blanco a negro */
  -webkit-background-clip: text; /* Aplicar el degradado solo al texto */
  background-clip: text;
  color: transparent; /* Hacer el texto transparente para que se vea el degradado */
  font-weight: bold; /* Texto en negrita */
  font-size: 1.5em; /* Tamaño del texto */
}

/* Estilos para los campos de entrada */
ion-item {
  --background: white; /* Fondo transparente */
  --color: #000000; /* Texto blanco */
  --padding-start: 0; /* Eliminar el padding inicial */
  --inner-padding-end: 0; /* Eliminar el padding interno */
  margin-bottom: 16px; /* Espacio entre los campos */
}

ion-input {
  --color: #000000; /* Texto blanco */
  --placeholder-color: #cccccc; /* Color del placeholder */
  --padding-start: 16px; /* Espacio a la izquierda */
  --padding-end: 16px; /* Espacio a la derecha */
  --background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilos para los mensajes de error */
.error-message {
  color: red;
  font-size: 0.8em;
  margin-left: 16px; /* Ajusta el margen según sea necesario */
}

/* Estilos para los botones */
ion-button {
  --background: #ffffff; /* Fondo blanco */
  --color: #000000; /* Texto negro */
  --border-radius: 8px; /* Bordes redondeados */
  margin-top: 20px; /* Espacio superior */
}

/* Estilos para el botón "Volver al Login" */
ion-button[expand="block"] {
  --background: transparent; /* Fondo transparente */
  --color: #ffffff; /* Texto blanco */
  --border-color: #ffffff; /* Borde blanco */
  --border-width: 1px; /* Grosor del borde */
  --border-style: solid; /* Estilo del borde */
}

.container {
  position: fixed; /* Fija el contenedor en la pantalla */
  top: 50%; /* Lo coloca en el 50% de la parte superior */
  left: 50%; /* Lo coloca en el 50% de la parte izquierda */
  transform: translate(-50%, -50%); /* Centra exactamente en el medio */
  text-align: center; /* Centra el contenido interno (opcional) */
}

.fluid {
  border-radius: 50%; /* Hace la imagen redonda */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  width: 50vw; /* Ocupa el 50% del ancho del viewport */
  max-width: 300px; /* Limita el ancho máximo */
  height: auto; /* Mantiene la proporción de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;

}